.admin-container {
  margin: 5% auto 0 auto;
  @include flex(flex, column, center, center);
  @include loading-div(470px, 500px, $jYellow);
  .loading-div > .loader .logo {
    font-size: 3em;
  }
  .loading-div > .loader .title {
    font-size: 3.5em;
  }
  h4 {
    text-align: left;
    width: 1310px;
    font-weight: 500;
    font-size: 22px;
    margin-bottom: 10px;
    color: $lightBlack;
  }
  .admin-form {
    @include flex(flex, row, space-around, flex-end);
    position: relative;
    width: 1300px;
    height: 100px;
    border-radius: 3px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 4px 0 rgba(5, 3, 3, 0.2) , 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    label {
      @include flex(flex, column, center, flex-start);
      margin-bottom: 15px;
      input, select {
        border: 2px solid rgba(0, 0, 0, 0.75);
        width: 250px;
        height: 35px;
        padding-left: 12px;
        font-size: 16px;
        color: $lightBlack;
        border-radius: 5px;
        font-weight: 900;
        margin-top: 7px;
      }
      input {
        transition: 0.3s;
        &:focus {
          outline: none;
          border: 2px solid $jYellow;
          box-shadow: 0 0px 1.5px $lightBlack;
          box-shadow: 0 0px 7px $darkWhite;
        }
        &:hover {
          box-shadow: 0 0px 7px $darkWhite;
        }
      }
      select {
        background-color: white;
        height: 42px;
        &:focus {
          outline: none;
          border: 2px solid $jYellow;
          box-shadow: 0 0px 1.5px $lightBlack;
          box-shadow: 0 0px 7px $darkWhite;
        }
        &:hover {
          box-shadow: 0 0px 7px $darkWhite;
        }
      }
    }
    .hidden-span {
      display: none;
      position: absolute;
      font-weight: 500;
      text-align: center;
      bottom: -45px;
      width: 100%;
      font-size: 18px;
      color: crimson;
    }
    button {
      background-color: $jYellow;
      color: $lightBlack;
      width: 150px;
      height: 45px;
      font-size: 20px;
      font-weight: 900;
      border-radius: 7px;
      border: 0.1px solid rgba(0, 0, 0, 0.2);
      transition: 0.1s;
      margin-bottom: 15px;
      &:disabled {
        background-color: $lightestBlack;
        box-shadow: 0 0px 0px;
        color: grey;
      }
      &:hover:enabled {
        transition: 0.3s;
        background-color: $lightBlack;
        color: $darkWhite;
      }
      &:focus {
        outline: none;
      }
    }
  }
  .admin-table {
    @include flex(flex, row, center, flex-start);
    width: 1300px;
    padding-top: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 4px 1px rgba(5, 3, 3, 0.2) , 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    border-radius: 3px;
    margin-bottom: 40px;
    table {
      border-collapse: separate;
      border-spacing: 0 15px;
      width: 95%;
      thead {
        th {
          font-size: 18px;
          font-weight: 500;
        }
      }
      tbody {
        tr {
          position: relative;
          text-align: center;
          border-radius: 7px;
          height: 50px;
          box-shadow: 3px 4px 4px 0 rgba(5, 3, 3, 0.2) , 2px 3px 1px 0 rgba(0, 0, 0, 0.2);
          td {
            padding: 0;
          }
          button {
            background-color: $jYellow;
            color: $lightBlack;
            font-size: 16px;
            font-weight: 900;
            border: none;
            transition: 0.3s;
            width: 100%;
            height: 50px;
            border-top-right-radius: 7px;
            border-bottom-right-radius: 7px;
            padding: 0;
            &:hover {
              transition: 0.1s;
              background-color: $lightBlack;
              color: $darkWhite;
            }
            &:focus {
              outline: none;
            }
          }
          #index-td, #name-td, #email-td, #role-td {
            font-size: 17px;
            font-weight: 500;
          }
          #index-td {
            background-color: $jYellow;
            color: $lightBlack;
            border-top-left-radius: 7px;
            border-bottom-left-radius: 7px;
            font-size: 16px;
            font-weight: 500;
          }
          #name-td {
            background-color: rgba(253, 253, 253, 0.863);
          }
          #email-td {
            background-color: rgba(253, 253, 253, 0.863);
            border-left: 2px solid rgba(0, 0, 0, .3);
          }
          #role-td {
            background-color: rgba(253, 253, 253, 0.863);
            border-left: 2px solid rgba(0, 0, 0, .3);
          }
          #button-td {
            border-top-right-radius: 7px;
            border-bottom-right-radius: 7px;
            background-color: $trybeGreen;
          }
        }
      }
    }
  }
}
